#viewProgetti .rivista {
    float:left;
    border: solid 1px gray;
    height:200px;
    width:150px;
    padding:1px;
    margin:11px;
}

#viewProgetti .rivistaBig {
    /*float:left;*/
    border: solid 1px gray;
    height:1200px;
    width:92%;
    padding:1px;
    margin:4%;
}

#viewProgetti .rivista_descr {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right:0px;
  text-align:center;
  letter-spacing: -1px;
  background-color: rgba(0,0,0,0.7);
  color:white;
  border-top: solid 1px white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

#viewProgetti .progetto_users {

    position: absolute;
    top: -9px;
    right: -10px;
    color: white;
    padding: 0px 5px 0px 7px;
    background-color: #b41223;
    border-radius: 6px;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 0.85em;

}

#appFirstWelcomeScreen {
  border:solid 1px gray;
  background-image: url(../img/sfondo_splash_screen.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  right:0%;
  left:0%;
  height:100%;
  top:0%;
}

.logoSplash {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
  .infoPermessi {
      position: absolute;
      width: 80%;
      top: 50%;
      left: 10%;
  } 





#appFirstWelcomeScreen .splashScreenFooter {
  height:55px;
  padding: 0px;
  background:none;
}



#appFirstWelcomeScreenDisclaimer {
  top:0px !important;
  bottom:0px  !important;
  left:0px  !important;
  right:0px  !important;
  width:100%  !important;
  height:100%  !important;
  background-image: url(../img/sfondo_splash_screen.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

#appFirstWelcomeScreenDisclaimer .bar-header {
  background-color:rgba(255,255,255,0.5);
}

#appFirstWelcomeScreenDisclaimer iframe {
  height: 100%;
  width:100%;
}

#appFirstWelcomeScreenDisclaimer .scroll-content {
  text-align: justify;
  margin:5px;
  bottom:95px;
}


#appFirstWelcomeScreenDisclaimer .bar-footer {
    padding:0px;
    margin:0px;
    height:90px;
    display: block;
    background-color:rgba(255,255,255,0.5);
    background-image: none;
}

#appFirstWelcomeScreenDisclaimer .item {
    background-color:transparent;
}

#appFirstWelcomeScreenDisclaimer #row1 {
  height:44px; width:100%; display:block;
}

#appFirstWelcomeScreenDisclaimer #row2 {
  height:46px; width:100%; display:block;
}


#appFirstWelcomeScreenDisclaimer #row1 .item-checkbox {
  padding:10px 10px 10px 60px;
}

#appFirstWelcomeScreenDisclaimer .button {
  padding:0px;
  margin:0px;
  height:100%;
}



#viewProgetti .rivista_dtl {
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center center;
  background-color: rgba(220, 222, 205, 0.41);
  padding:0px;
  margin:0px;
}


@media all and (orientation:portrait) {

  #appFirstWelcomeScreen .logoSplash{
    width:40%;
  }

 

  @media (max-width:1600px) {

    #viewProgetti .rivista {
        height:650px;
        width:31%;
    }

    #viewProgetti .rivistaBig {
        height:1200px;
        width:92%;
    }

  }
  @media (max-width:1100px) {

    #viewProgetti .rivista {
        height:450px;
        width:31%;
    }

    #viewProgetti .rivistaBig {
        height:1000px;
        width:92%;
    }

  }
  @media (max-width:800px) {

    #viewProgetti .rivista {
        height:300px;
        width:31%;
    }

    #viewProgetti .rivistaBig {
        height:800px;
        width:92%;
    }
  }
  @media (max-width:600px) {

    #viewProgetti .rivista {
        height:350px;
        width:44%;
    }

    #viewProgetti .rivistaBig {
        height:600px;
        width:92%;
    }

  }
  @media (max-width:500px) {

    #viewProgetti .rivista {
        height:240px;
        width:44%;
    }

    #viewProgetti .rivistaBig {
        height:500px;
        width:92%;
    }

  }
  @media (max-width:400px) {

    #viewProgetti .rivista {
        height:200px;
        width:43%;
    }

    #viewProgetti .rivistaBig {
        height:450px;
        width:92%;
    }

    .logoSplash {
      position: relative;
      top: 20%;
      transform: translateY(-20%);
    }  

    .infoPermessi {
        position: absolute;
        width: 80%;
        top: 40%;
        left: 10%;
    }      
  }



}
@media all and (orientation:landscape) {

  .logoSplash {
    position: relative;
    top: 10%;
    transform: translateY(-10%);
  }  

  .infoPermessi {
      position: absolute;
      width: 80%;
      top: 40%;
      left: 10%;
  } 

  #appFirstWelcomeScreen .logoSplash{
    width:22%;
  }

  #viewProgetti .rivistaBig {
      height:800px;
      width:92%;
  }

  @media (max-width:1500px) {

    #viewProgetti .rivista {
        height:450px;
        width:23%;
    }

    #viewProgetti .rivistaBig {
        height:600px;
        width:92%;
    }


  }
  @media (max-width:1100px) {

    #viewProgetti .rivista {
        height:450px;
        width:31%;
    }

    #viewProgetti .rivistaBig {
        height:250px;
        width:92%;
    }

  }

  @media (max-width:800px) {

    #viewProgetti .rivistaBig {
        height:200px;
        width:92%;
    }

  }

  @media (max-width:600px) {

    #viewProgetti .rivista {
        height:450px;
        width:31%;
    }

    #viewProgetti .rivistaBig {
        height:150px;
        width:92%;
    }
    
    .logoSplash {
      position: relative;
      top: 10%;
      transform: translateY(-10%);
    }  

    .infoPermessi {
        position: absolute;
        width: 90%;
        top: 35%;
        left: 5%;
    }     
  }
  @media (max-width:400px) {

    #viewProgetti .rivista {
        height:250px;
        width:44%;
    }

    #viewProgetti .rivistaBig {
        height:100px;
        width:92%;
    }

  }

}
