/* Empty. Add your own CSS if you like */
#menu-logo {
  width:35px;
  height:35px;
  margin: 3px 7px;
}

.generic-button-bar {
  color: #506877;
}

.cst-title {
  color: white;
    left: 0px !important;
    right: 35px !important;
    letter-spacing: -1px;
}

#mainMenuCloseBtn {
  font-size:27px;
  position:absolute;
  right:0px;
  top:0px;
  width:43px;
  height:100%;
  padding:8px 8px;
  color:white;
  z-index:9999999;
}


.loading-container {
  background-color:rgba(255,255,255,0.9);
}
.loading-container .loading {
  background-color: rgba(51, 9, 9, 0.38);
}

#main-menu-wnd {
    width:80%;
    max-width:600px;
    border:solid 1px #cccccc;
    right:0px;
    left: initial;
    background-color: rgba(248,248,248,0.93);
    height:100%;
    top:0%;
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {

  .nav-bar-block{
      margin-top: constant(safe-area-inset-top);
      margin-top: env(safe-area-inset-top);
  }

  body{
      margin-top: constant(safe-area-inset-top);
      margin-top: env(safe-area-inset-top);
  }

  #main-menu-wnd {
      top: constant(safe-area-inset-top);
      top: env(safe-area-inset-top);
  }  

}


#main-menu-wnd .item {
  background-color: transparent;
}

#main-menu-wnd .bar-header {
  background-color: grey;
}



#wndUnrecoverableError {
  background-image: url(../img/background_zoom.jpg);
  background-size: cover;
}

#wndUnrecoverableError .bar-header {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

#wndUnrecoverableError .bar-footer {
  height:80px;
  padding: 0px 0px 20px 0px;
  background: none;
}

.error-body {
  padding:5px;
  margin: 5px;
  font-size:20px;
  background-image: url(../img/error_transparent.png);
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 80%;
}

.bar-header {
    background-color: rgba(255,255,255,0.8);
}

.bar-subheader {
  background-color: rgba(255,255,255,0.7);
}


.no-internet-connection {
  color:red;
}

.no-gps-available {
  color:red;
}

.small_descr {
  letter-spacing: -1px;
}


#appCreditsScreen {
  border:solid 1px gray;
  background-image: url(../img/sfondo_splash_screen.jpg);
  background-size:cover;
  width:100%;
  right:0%;
  left:0%;
  height:100%;
  top:0%;
}

#appLanguageScreen {
  border:solid 1px gray;
  background-image: url(../img/sfondo_splash_screen.jpg);
  background-size:cover;
  width:100%;
  right:0%;
  left:0%;
  height:100%;
  top:0%;
}

#scegliLinguaText {
  text-align: center;
  font-size:140%;
  width:100%;
  padding: 5% 0px;
  margin: 20px 0px 20px 0px;
}

#appCommentScreen {
  border:solid 1px gray;
  background-color: #ffffff;
  /*background-image: url(../img/sfondo_splash_screen.jpg);
  background-size:cover;*/
  width:100%;
  right:0%;
  left:0%;
  height:100%;
  top:0%;
}


#appCreditsScreen .splashScreenFooter {
  height:55px;
  padding: 0px;
  background:none;
}


#appCreditsScreen #deviceInfoBox .infoLabel {

  background-color: transparent;
}
#appCreditsScreen #deviceInfoBox .infoValue {
  background-color: transparent;
}



#logoMondadoriBox {
  text-align: center;
}



#boxInfoMondandori, #boxInfoMediasoft {
  padding:5px;
  margin:0px 15px 20px 15px;
  background-color: rgba(200,200,200,0.2);
  border:1px solid gray;
  line-height: 22px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #888888;
}


#deviceInfoBox {
  padding:5px;
  margin:50px 15px 35px 15px;
  background-color: rgba(200,200,200,0.1);
  border:1px solid #b1b1b1;
  line-height: 18px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #888888;
  letter-spacing: -1px;
}


#logoMediasoftBox {
  text-align: center;
}

.progetto_users {

  /*top:-10px;
  right:-13px;
  width:100%;
  height:29px;
  color:black;
  padding:0px;
  background-color: transparent;*/
}




@media all and (orientation:portrait) {

  #logoMondadoriBox {
    height:17%;
    width:100%;
    padding: 0% 0px;
    margin: 15px 0px 0px 0px;
  }

  #logoMediasoftBox {
    height:10%;
    width:100%;
    padding: 1% 0px;
    margin: 10px 0px;
  }

  #logoMondadoriBox img {
  /*  max-width:50%; */
    max-height:80%;
    max-width:90%;
  }

  #logoMediasoftBox img {
    max-width:70%;
    max-height:70%;
  }

  #logoSocialBox {
    width:30%;
    padding: 10% 0px;
    margin: 20px 0px 10px 35%;
  }

  #socialInfoBox {
    text-align: center;
    margin-top: 10%;
    padding: 10%;
  }



}


@media all and (orientation:landscape) {

  #logoMondadoriBox {
    height:30%;
    width:100%;
    padding: 0% 0px;
margin: 10px 0px;
  }

  #logoMediasoftBox {
    height:20%;
    width:100%;
    padding: 0% 0px;
margin: 10px 0px;
  }


  #logoMondadoriBox img {
    /*max-width:20%;*/
    height:100%;
  }

  #logoMediasoftBox img {
    max-width:32%;
  }

  #logoSocialBox {
    width:16%;
    padding: 5% 0px;
    margin: 20px 0px 10px 42%;
  }

  #socialInfoBox {
    text-align: center;
    margin-top: 1%;
    padding: 1%;
  }

}



.cst-button {
  opacity: 0.7;
}




.app-error-icon {
  color:red;
}

.application-error {

}

.application-error .popup {
    max-width:100%;
    width:300px;
}

.application-error .popup-head {
  background-color: #edeaea;
}

.application-error .popup-body {
    text-align: justify;
}

.application-message {

}

.application-message .popup {
    max-width:100%;
    width:300px;
}

.application-message .popup-head {
  background-color: #edeaea;
}

.application-message .popup-body {
    text-align: justify;
}


@media (max-width:1600px) {

    .cst-button {
      font-size:23px !important;
    }

}

@media (max-width:1100px) {

    .cst-button {
      font-size:23px !important;
    }

}

@media (max-width:800px) {

    .cst-button {
      font-size:20px !important;
    }

}

@media (max-width:600px) {

    .cst-button {
        font-size:17px !important;
    }

}
@media (max-width:500px) {

    .cst-button {
      font-size:17px !important;
    }

}
@media (max-width:400px) {

    .cst-button {
      font-size:16px !important;
    }

}


/* sezione games */
.tab-cst {
  text-align:center;
  border-top:solid 1px #c2c2c2;
  
  background-color: #eeeeee;
}

.tab-cst-selected {
  border-top:solid 1px white;
  background-color: white;
}

.game-item {
  white-space:normal;
  padding: 0px;
  margin: 0.5em 0.4em;
  background-size: cover;  
  background-position: center center;
  border-radius:3px;
  box-shadow: 2px 2px 2px #888888;
}
.game-item-inner {
    background-color: rgba(255,255,255,0.8);
    padding:10px;
    min-height: 100px;
}

.game-item .game-title {
  font-size:1.6em;
  letter-spacing:-1px;
  padding:4px 0px;
  line-height: 1.1em;
}

.game-icon-cst {
  color: #606060;
  padding: 0px 4px 0px 0px;
  font-size: 0.9em;
}


.game-ion-content {
  bottom: 40px;
  overflow-y: auto;
}

.game-ion-content h3 {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  text-align:center;
  letter-spacing: -0.05em;
}


.request-row {
  padding: 3px 0px;
}

.request-item {
  white-space:normal;
  padding: 0px;
  margin: 0.2em;
  background-size: cover;  
  background-position: center center;
  border-radius:3px;
  box-shadow: 2px 2px 2px #888888;
  background: rgba(255,255,255,0.5);
}

.request-item-stat {
  padding:10px;
}

.request-item .item-content {
  padding: 1px;
  background: rgba(255,255,255,0.5);
}

.request-item-inner {
    background-color: rgba(255,255,255,0.8);
    padding:10px;
}

.request-title {
  font-size: 1.4em;
  line-height: 1.1em;
  white-space:normal;
  padding:2px 0px;
}


.game-generic-modal {
    background-color: rgba(255,255,255,0.95);
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    width: auto;
    height: auto;
}


.game-generic-inner {
  padding:10px;
}

.game-generic-inner h2 {
  font-size: 1.5em;
  padding: 5px 0px;
}

.game-generic-inner h3 {
  font-size: 1.2em;
  text-align: justify;
  color: #4f4f4f;
}

.game-generic-modal .game-generic-footer {

  height:70px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

.game-generic-modal .game-generic-footer .col {
  padding: 0px 3px;
}

.game-generic-modal .game-generic-footer .button {
  height: 50px;
  opacity: 1;
}

.popup {
  border-radius:5px !important;
}


.game-center-popup {
    border:solid 2px #ebebeb; 
     
    top:60px; 
    right:5px; 
    bottom: 10px; 
    border-radius:5px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e8e8e8+51,ffffff+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

@media all and (orientation:portrait) {
  .game-center-popup {
      left: 5px; 
  }
}

@media all and (orientation:landscape) {
  .game-center-popup {
      left: 20%; 
  }
}

.nickname-chooser-wnd {
    left: 0px;
    right: 0px;
    top:0px;
    bottom:0px;
    width: auto;
    background-color: rgba(0,0,0,0.6);
}

.nickname-chooser-wnd .nickname-chooser-wnd-inner {        
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
     
    position:relative;
    padding:5px;
    border: solid 1px #b8b8b8;
}

.lve-input {
  padding: 2px 0 2px 9px;
}

@media all and (orientation:portrait) {
  .nickname-chooser-wnd .nickname-chooser-wnd-inner {    
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -40%);
    position: absolute;
    min-width: 95%;
    max-width: 95%;
        min-height: 60%;
  }
}

@media all and (orientation:landscape) {
  .nickname-chooser-wnd .nickname-chooser-wnd-inner {    
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 60%;
    min-height: 90%;
    max-width:90%;
  }
}



.checkboxFive {
  width: 100%;
  margin: 10px 5px;
  position: relative;
}

.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #aaa;
}

.checkboxFive label:after {
    opacity: 0.0;
    content: '';
    position: absolute;
    width: 18px;
    height: 10px;
    background: transparent;
    top: 8px;
    left: 8px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.checkboxFive label:hover::after {
  opacity: 0.0;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1;
}


